.create {
        bottom: 146px;
    }
    
    #create-input input {
        width: 25px;
        padding: 10px 8px 5px;
    }
    
    #create-go p {
        padding: 5px 8px;
    }
    
    #create-err {
        padding: 8px 0px 7px;
    }
    /* currently unused*/
    
    .search {
        bottom: 119px;
    }
    
    #search-input input {
        width: 25px;
        padding: 6px 8px 5px;
    }
    
    #search-go p {
        padding: 5px 8px;
    }
    
    #search-err {
        padding: 5px 0px;
    }
    /* currently unused*/
    
    .insert {
        bottom: 92px;
    }
    
    #insert-input input {
        width: 100px;
        padding: 6px 8px 5px;
    }
    
    #insert-go p {
        padding: 5px 8px;
    }
    
    #insert-err {
        padding: 5px 0px;
    }
    /* currently unused*/
    
    .remove {
        bottom: 65px;
    }
    
    #remove-input input {
        width: 25px;
        padding: 6px 8px 5px;
    }
    
    #remove-go p {
        padding: 5px 8px;
    }
    
    #remove-err {
        padding: 5px 0px;
    }
    /* currently unused*/
    
    #tutorial-1 {
        top: 60px;
        left: 60px;
        width: 275px;
    }
    
    #tutorial-2 {
        top: 60px;
        left: 220px;
        width: 485px;
    }
    
    #tutorial-2:before {
        bottom: 100%;
        left: 50%;
        border-bottom-color: black;
        margin-left: -10px;
    }
    
    #tutorial-3 {
        bottom: 200px;
        left: 60px;
        width: 220px;
    }
    
    #tutorial-3:before {
        top: 100%;
        left: 20%;
        border-top-color: black;
        margin-left: -10px;
    }
    
    #tutorial-4 {
        top: 200px;
        left: 40%;
        width: 350px;
        margin-left: -110px;
    }
    
    #tutorial-4:before {
        bottom: 100%;
        left: 50%;
        border-bottom-color: black;
        margin-left: -10px;
    }
    
    #tutorial-5 {
        bottom: 335px;
        right: 150px;
        width: 200px;
    }
    
    #tutorial-5:before {
        top: 100%;
        left: 20%;
        border-top-color: black;
        margin-left: -10px;
    }
    
    #tutorial-6 {
        bottom: 275px;
        right: 170px;
        width: 180px;
    }
    
    #tutorial-6:before {
        top: 100%;
        left: 20%;
        border-top-color: black;
        margin-left: -10px;
    }
    
    #tutorial-7 {
        bottom: 70px;
        left: 50%;
        width: 300px;
        margin-left: -120px;
    }
    
    #tutorial-7:before {
        top: 100%;
        left: 50%;
        border-top-color: black;
        margin-left: -10px;
    }
    
    #tutorial-8 {
        top: 70px;
        right: 60px;
        width: 180px;
    }
    
    #tutorial-8:before {
        bottom: 100%;
        left: 50%;
        border-bottom-color: black;
        margin-left: -10px;
    }